*{
     margin: 0;
 }
 html,body{
     --black:hsl(240,6%,13%);
     --gray:hsl(240,9%,89%);
     height: 100%;
     font-family: 'Roboto', sans-serif;
     -webkit-font-smothing:antialiased;
 }
 body{
     display: grid;
     place-items: center;
 }
 main{
     background: url(./images/background.svg) no-repeat center/cover;
    /* width:375px;
     height: 812px; 
     min-height: 812px;*/
     width: 100vw;
     
     height: 100vh;
 }
 .container{
    
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     color:var(--gray);
 }
 .avatar{
     width: 10rem;
     margin: 11rem auto 0;
     position: relative;
 }
 .avatar span{
    position: absolute;
    top:-15px;
  z-index: 1;
}
 .avatar > img{
     width: 10rem;
     height: 11.5rem;
     object-fit: cover;
     clip-path:polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%); 
 }
 h1{
     font-size: 1.5rem;
     margin-top: 1.5rem;
 }
 a{
     color: var(--gray);
     text-decoration: none;
     margin-top: 0.25rem;
     display:flex;
     gap:0.75rem;
     justify-content: center;
     align-items: center;
 }
 p{
     margin-top: 2rem;
}
 p::after{
    content: '|';
    color: rgb(216, 79, 79);
    margin-left: 5px ;
    opacity: 1;
    animation: piscada .7s infinite;
 }
  @media (min-width: 960px)
{
     main{
     background: url(./images/background.svg) no-repeat cover/center;
    /* width:375px;
     height: 812px; */
     width: 380px;
   
     height: 650px;
   

    }
    .container{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color:var(--gray);  
       
}
   
    .quebra{
        position: absolute;
        width:88px;
        height: 8px;
        left:  47.1%;/* 753px*/
        top: 77px;
   

    /* left: 680px; */

    background: #121214;
    }
    .faixa{
        position: absolute;
        width: 75px;
        height: 80px;
        left:47.5%; /* 760px*/
        top:0;
       
        background: linear-gradient(161.24deg, #FF008E -15.25%, #FFCD1E 111.89%);
        }
    body{
        background: rgb(17, 17, 17);
    }
    .bg{
        position: absolute;
         width: 1118px;
         height: 1118px;
        left: 0px;
        top: -100vh;

        background: radial-gradient(50% 50% at 50% 50%, #FF3D6E 0%, rgba(18, 18, 20, 0) 100%);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transform: rotate(-180deg);
    }
   
}
 @keyframes piscada{
     0%, 100%{
         opacity: 1;
     }
     50%{
        opacity: 0;
     }

 }
 ul{
     margin-top:4rem;
     list-style: none;
     padding: 0;
     display: flex;
     gap:0.5rem;
     justify-content: center;
 }